@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf"); }

@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-Bold.ttf"); }

.about-us-main-title {
  font-size: 48px;
  color: #4E4E4E;
  font-family: Oswald, serif;
  font-weight: 700;
  text-align: center; }

.content-box {
  display: flex;
  column-count: 2;
  justify-content: space-between;
  padding: 0 15%; }
  .content-box div {
    max-width: 40%; }

.bt-read-more {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: #55C2D8;
  padding: 10px 30px;
  font-size: 14px;
  color: white;
  font-family: Oswald, serif;
  transition: .2s; }
  .bt-read-more:hover {
    scale: 1.2; }
