@font-face {
    font-family: "Source Sans Pro";
    src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url("../../assets/fonts/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../../assets/fonts/Oswald-Bold.ttf");
}